<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guages</title>
 <style>
 		.dataInputDiv {
			position:absolute;
			left:630px; top:650px;
		}
     
        </style>
</head>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
   <script>

			iosocket = io.connect();
			jQuery(function ($) {
				var dataInputDataList = $('ul.dataInputData');
				iosocket.on('update', function (data) {
				console.log('update '+data);
				dataInputDataList
					.prepend('<li>' + data.dataSource + ': ' + data.dataInputData + '</li>');
				});
			});
	
    </script>

<script>
		$('.DIstartButtonA').on("click", function(event){
  					event.preventDefault();					
					var posting = $.post( '/dataInput', { pitchAngleValue: "0" } );
console.log('dataInputPost now');
					posting.done(function( data ) {
						console.log('client dataInput post done ');
					});
				});	
</script>
 
<div class=dataInputDiv>

<title><%= title %></title>
<form name="DIstartButton" id"startButton" class="DIstartButton" action="/dataInput" method="post">
         <a class="DIstartButtonA"></a>
		 <ul class="dataInputData"></ul>
        <p class="DIdata">Data: <span>1</span></p>

		
<span class="DIstartButtonSpan">
 <button class="DIstartButton" id="DIstartButton" name="DIstartButton" >Start Data</button> 

  </span>
</form>

	<div id="guageDiv" class="guageDiv" name="guageDiv">
 		<span id="memoryGaugeContainer"></span>
		<span id="cpuGaugeContainer"></span>
		<span id="networkGaugeContainer"></span>
		<span id="testGaugeContainer"></span>
	</div>
	</div>
</body>
</html>