body {
	background-image: url('../images/background_0001.png');
	background-repeat: no-repeat;
	background-size:100%, 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


 
svg {
  font: 10px sans-serif;
}
 
.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

 		.dataInputDiv {
			position:absolute;
			left:630px; top:690px;
		}
		.guageDiv {
			position: absolute;
			left: 10px; top: 750px;
		}

		#rpmGaugeContainer {
			position: absolute;
			right: 850px; 
			top: 350px;
			width: 110px;
		}
	#lineGraphTitle {
		position: relative;
		left: 200px;
		top: 20px;
	}
	.lineGraphDiv {
		position: absolute;
		left: 950px;
		top: 200px;
	}
