body {
	background-image: url('../images/background_0001.png');
	background-repeat: no-repeat;
	background-size:100%, 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


 		.dataInputDiv {
			position:absolute;
			left:630px; top:690px;
		}
		.guageDiv {
			position: absolute;
			left: 10px; top: 750px;
		}

		#rpmGaugeContainer {
			position: absolute;
			right: 850px; 
			top: 350px;
			width: 110px;
		}
	#lineGraphTitle {
		position: absolute;
		left: 1200;
		top: 100;
	}
	.lineGraphDiv {
		position: absolute;
		left: 900px;
		top: 200px;
	}
